.login {
  position: absolute;
  right: 5px;
  top:5px;
}

.mineBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0;
  will-change: opacity;
  -webkit-transition: opacity .3s ease-in-out,color .3s ease-in-out,background-color .3s ease-in-out,fill .3s ease-in-out!important;
  transition: opacity .3s ease-in-out,color .3s ease-in-out,background-color .3s ease-in-out,fill .3s ease-in-out!important;
}


.mine{
  width: 80px;
  height: 80px;
  background-color: #eee; /* just for visualization, you can customize it */
  border: 1px solid #ccc;
  transition: 0.2s;
}

.mine:hover {
  background-color: rgb(122, 117, 117);
}
.mineContainer {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  gap: 0px; /* adjust as needed */
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
