.login {
  position: absolute;
  right: 5px;
  top:5px;
}

.mineBtn{
text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0;
  will-change: opacity;
  -webkit-transition: opacity .3s ease-in-out,color .3s ease-in-out,background-color .3s ease-in-out,fill .3s ease-in-out!important;
  transition: opacity .3s ease-in-out,color .3s ease-in-out,background-color .3s ease-in-out,fill .3s ease-in-out!important;
}

.mineImg {
  width: 60px;
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);}
}

.reveal-animation {
  animation: scaleUp 0.5s forwards;
}

.mine {
  width: 80px;
  height: 80px;
  background-color: #eee; /* just for visualization, you can customize it */
  border: 1px solid #ccc;
  transition: 0.2s;
  text-align: center;
}

.mineGame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3%;
}

.betInfo {
  margin-top: 2%;
}

.betLabel {
  margin-right: 10px;
}

.currency-wrap{
  position:relative;
}

.currency-code{
  position:absolute;
  left:8px;
  top:10px;
}

.betIn {
  margin-right: 10px;
  padding:10px 20px;
  border:solid 1px #ccc;
  border-radius:5px;
}

.betMenu {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  justify-content: center;
  align-items: center;
}

.betBtn {
  width: 100px;
}
.cashoutBtn {
  margin-top: 2%;
}

.mine:hover {
  background-color: rgb(122, 117, 117);
}
.mineContainer {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  gap: 0px; /* adjust as needed */

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
